@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.about_header {
	@include adaptiveValue(margin-bottom, 21.4, 8);
}

.root {
	justify-content: space-between;
	flex-direction: column;
	@include rowGap(13, 5.5);

	@include tablet {
		img {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.content {
	@include columnGap(2);
	@include rowGap(2);
	justify-content: space-between;
	align-items: center;

	@include tablet {
		justify-items: center;
		flex-wrap: wrap;
	}
}

.text_group {
	margin-bottom: 2.8rem;
}

.reverse {
	flex-direction: row-reverse;

	@include tablet {
		flex-direction: column-reverse;
	}
}

.text_title {
	margin-bottom: 4.6rem;

	@include text-h3;
	color: $black;

	@include tablet {
		text-align: center;
	}
}

.text {
	@include text;
	color: $black;
}