@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.about_header {
	@include adaptiveValue(margin-bottom, 21.4, 8);
}

.content {
	justify-content: space-between;
	flex-direction: column;
	@include rowGap(13, 7);

	.row {
		@include rowGap(2);
	}

	@include tablet {
		@include g-0;

		.row {
			@include g-0;
		}

		.img {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.text_group {
	margin-bottom: 2.8rem;
}

.text_title {
	margin-bottom: 4.6rem;

	@include text-h3;
	color: $black;

	@include tablet {
		text-align: center;
	}
}

.text {
	@include text;
	color: $black;
}