@mixin text-h1 {
	@include adaptiveValue(font-size, 5.5, 3.5);
	font-weight: 500;
	line-height: 110%;
	letter-spacing: .02em;
}

@mixin text-h2 {
	font-size: 4rem;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: .02em;
}

@mixin text-h3 {
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: .02em;
}

@mixin text-h4 {
	font-size: 2rem;
	font-weight: 500;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: .02em;
}

@mixin text-lg {
	font-size: 2rem;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0.02em;
}

@mixin text($adaptive: 1) {
	@if $adaptive ==1 {
		@include adaptiveValue(font-size, 1.7, 1.5);
	}

	@else {
		font-size: 1.7rem;
	}

	font-weight: 500;
	line-height: 140%;
	letter-spacing: .02em;

}

@mixin text-sm {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: .02em;
}

@mixin text-logo {
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.9rem;
	letter-spacing: .1em;
	text-transform: uppercase;
}

@mixin text-nav {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.02em;
}

@mixin text-list {
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: .02em;
}

@mixin text-price {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.02em;
}

@mixin fontRegular($fontSize, $fontColor: inherit) {
	font-size: rem($fontSize);
	color: $fontColor;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: .02em;
}