@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.root {
	height: 746px;
	margin-bottom: 14rem;
	position: relative;

	// @include smDesktop {
	// 	display: flex;
	// 	justify-content: center;
	// 	height: 65vh;
	// 	flex-direction: column;
	// }

	@include smDesktop {
		height: max-content;
	}
}

.slider {
	// @include columnGap(9.3);
	justify-content: space-between;
	align-items: center;

	@include smDesktop {
		justify-content: center;
		height: calc(100vh - 90px);
	}
}

.btn_group {
	display: flex;
	max-width: 385px;
	justify-content: flex-end;
	margin-top: 5.2rem;
	@include adaptiveValue(margin-bottom, 12.6, 2.6);

	@include smDesktop {
		justify-content: center;
		max-width: 100%;
	}
}

.seconds_col {
	@include smDesktop {
		display: none;
	}
}

.second {
	position: relative;

	&::after {
		content: "";
		// @include adaptiveValue(width, 84.4, 2);
		width: 50vw;
		height: 826px;

		position: absolute;
		top: -80px;
		left: 41.3px;
		// @include adaptiveValue(left, 9.7, 11.2);
		z-index: -1;

		transform: translateX(-80px);

		background-color: $color-ecru-white;

		@include smDesktop {
			display: none;
		}
	}
}

.img {
	margin-left: auto;
}

.slider_text {
	max-width: 567px;
	width: 100%;
	margin-left: 0 !important;

	@include smDesktop {
		margin-left: auto !important;
	}
}

.slider_image {
	max-width: 410px;
	width: 100%;
	margin-right: 0 !important;
}

.slider_pagination {
	display: flex;
	max-width: 385px;
	justify-content: flex-end;

	@include smDesktop {
		justify-content: center;
		max-width: 100%;
	}
}

.bullet {
	display: inline-block;
	width: 30px;
	height: 4px;

	background-color: $color-grey;
	cursor: pointer;

	&:not(:last-child) {
		margin-right: 1.2rem;
	}

	&_active {
		background-color: $black;
	}
}

.title {
	@include text-h1;
	@include adaptiveValue(margin-bottom, 4.5, 2.5);

	@include smDesktop {
		text-align: center;
	}
}

.subtitle {
	max-width: 385px;
	width: 100%;
	margin-right: auto;

	font-size: 2rem;
	color: $black;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-align: right;

	@include smDesktop {
		text-align: center;
		margin-right: initial;
	}
}