@use "../../styles/mixins" as *;

.root {
	display: flex;
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.jcc {
	justify-content: center;
}

.jcsb {
	justify-content: space-between;
}

.reverse_row {
	flex-direction: row-reverse;
}

.reverse_column {
	flex-direction: column-reverse;
}