@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.root {
	flex-direction: column;
	@include rowGap(13, 7);
}

.map {
	width: 100%;
	@include adaptiveValue(height, 47.6, 35);
}

.text {
	justify-content: space-between;

	span {
		display: block;
		margin-bottom: 1.9rem;
		@include text;
	}

	a {
		@include text-h4;

		&:hover {
			text-decoration: underline;
		}
	}

	@include smDesktop {
		@include rowGap(3);
		text-align: center;
	}
}

.form {
	max-width: 443px;

	@include smDesktop {
		max-width: 100%;
	}
}

.form_content {
	flex-direction: column;
	@include rowGap(3.5)
}

.form_title {
	display: block;
	margin-bottom: 6.3rem;
	@include text-h3;

	@include smDesktop {
		text-align: center;
	}
}

input,
textarea {
	@include animationEase;
	font-family: inherit;
	@include text;

	border: none;
	border-bottom: 1px solid #868686;

	&:focus {
		outline: none;
		border-color: $black;
	}

	&::placeholder {
		@include text;
		color: #868686;
	}
}

input {
	max-width: 350px;
	padding: 0;
	@include adaptiveValue(padding-bottom, 1.6, 1);

	@include smDesktop {
		max-width: 100%;
	}
}

textarea {
	@include adaptiveValue(height, 13.4, 10);
	resize: none;
}

.send {
	max-width: 189px;

	@include smDesktop {
		max-width: 100%;
	}
}