@use 'sass:math';

@use './helpers' as *;
@use './mixins' as *;
@use './vars' as *;


html {
	font-size: #{$baseFontSize}px;
}

body {
	font-family: $defaultFont;
	font-weight: $defaultFontWeight;
	font-size: rem($defaultFontSize);
}

#page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.bullet {
	display: inline-block;
	width: 30px;
	height: 4px;

	cursor: pointer;
	background-color: rgba($white, 0.36);

	&:not(:last-child) {
		margin-right: 1.2rem;
	}
}

.bullet_active {
	background-color: $white;
}