@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.content {
	max-height: 725px;
	margin-bottom: 7.2rem;
	overflow-y: auto;

	@include tablet {
		max-height: 450px;
	}
}

.header {
	word-break: break-all;
	justify-content: space-between;
	padding-bottom: 2.6rem;

	@include text-h3;
	@include adaptiveValue(font-size, 2.5, 1.8);
	color: $black;

	border-bottom: 1px solid #CCC;

	@include tablet {
		display: none;
	}
}

.content {
	word-break: break-all;
	align-items: center;
	justify-content: space-between;
	margin-top: 4.9rem;
	@include rowGap(7);

	@include text;
	color: $black;

	@include tablet {
		@include rowGap(1.5);
		flex-direction: column;
		flex-wrap: wrap;
	}

	.group {
		@include columnGap(3.6);
		flex-wrap: nowrap;
		align-items: center;
		padding-left: 4.5rem;

		@include tablet {
			@include rowGap(2);
			flex-direction: column;
			text-align: center;
			padding-left: 0;
		}
	}
}

.footer {
	@include rowGap(8.8, 4);
	justify-content: flex-end;

	@include smDesktop {
		justify-content: center;
		text-align: center;
	}

	input {
		@include animationEase;
		font-family: inherit;
		@include text;

		border: none;
		border-bottom: 1px solid #868686;

		&:focus {
			outline: none;
			border-color: $black;
		}

		&::placeholder {
			@include text;
			color: #868686;
		}
	}

	input {
		max-width: 255px;
		padding: 0;
		@include adaptiveValue(padding-bottom, 1.6, 1);

		@include smDesktop {
			max-width: 100%;
		}
	}
}

.footer .first-col {
	justify-content: space-between;
	@include rowGap(2);

	.group {
		display: flex;
		flex-wrap: wrap;
		@include columnGap(1.6);
		@include rowGap(2);

		@include smDesktop {
			justify-content: center;
		}

		@include mobile {
			flex-direction: column;

		}
	}
}

.footer .last-col {
	@include rowGap(2.8);
	@include text;
	flex-direction: column;

	.text-group {
		@include columnGap(2);
		display: flex;

		@include smDesktop {
			justify-content: center;
		}
	}

	.group {
		display: flex;
		@include columnGap(1.5);

		.btn {
			flex: 1 1 auto;

			@include smDesktop {
				flex: initial;
			}
		}

		@include smDesktop {
			@include rowGap(2);
			flex-direction: column;
		}
	}
}

.total {
	@include text-h3;
	display: flex;
	width: 287px;
	align-items: center;
	justify-content: space-around;
	padding: 16px 10px;
	word-break: break-all;

	background-color: $color-ecru-white;

	@include smDesktop {
		justify-content: center;
		flex-direction: column;
		width: 100%;
	}
}

.price {
	color: $black;
	word-break: break-all;

	&::before {
		content: "\0024";
		color: inherit;
	}
}