/* Colors */
$white: #fff;
$black: #000;
$mainColor: #FFDF8C;
$orange: #FE5F1E;


/* Font */
$baseFontSize: 10;
$defaultFont: 'Proxima Nova';
$defaultFontSize: rem(10);
$defaultFontWeight: 400;


/* Container */
$maxWidthContainer: 1440;
$container: 1270;
$containerBg: 1340;
$containerPadding: 30;


/* Background */
$bgParam: no-repeat center / cover;


/* Responsive */
$mobile: 576;
$tablet: 767.98;
$desktopSm: 991.98;
$desktop: 1199.98;
$desktopLg: 1399.98;