@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.root {
	display: flex;
	flex-wrap: wrap;
	@include rowGap(.5);
	@include columnGap(3.5);

	@include tablet {
		justify-content: center;
	}
}

.title {
	margin-bottom: 2.6rem;

	@include text-h1;
	color: $black;

	@include tablet {
		text-align: center;
	}
}

.link {
	@include text;
	color: $black;

	position: relative;

	&:not(:last-child)::after {
		content: "";
		display: inline-block;

		position: absolute;
		top: 50%;
		right: -2.5rem;
		z-index: -1;

		transform: translateY(-50%);

		width: 16px;
		height: 1px;

		background-color: $black;
		pointer-events: none;
		outline: none;
		user-select: none;
	}

	&:hover:not(.active) {
		text-decoration: underline;
	}
}

.active {
	color: #909090;
	pointer-events: none;
}