@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.logo-icon {
	fill: $black;
	width: 25px;
	height: 25px;
}

.mobile-icon {
	fill: $color-primary;
	width: 17px;
	height: 17px;
}

.cart-icon {
	fill: $black;
	width: 24px;
	height: 24px;
}

.arrow-scroll-icon {
	stroke: $color-primary;
	width: 14px;
	height: 28px;
}

.card-arrow-icon {
	stroke: $white;
	width: 31px;
	height: 22px;
}

.card-quality-icon {
	width: 61px;
	height: 61px;
	fill: $black;
}

.card-speed-icon {
	width: 61px;
	height: 61px;
	fill: $black;
}

.card-responsibility-icon {
	width: 61px;
	height: 61px;
	fill: $black;
}

.slider-arrow-icon {
	@include animationEase;
	width: 28px;
	height: 28px;
	stroke: #858585;
}

.instagram-icon {
	@include animationEase;
	width: 22px;
	height: 22px;
	fill: $black;
}

.facebook-icon {
	@include animationEase;
	width: 21px;
	height: 21px;
	fill: $black;
}

.twitter-icon {
	@include animationEase;
	width: 23px;
	height: 23px;
	fill: $black;
}

.mastercard-icon {
	width: 28px;
	height: 22px;
}

.visa-icon {
	width: 34px;
	height: 12px;
}

.pagination-arrow-icon {
	stroke: $black;
	width: 10px;
	height: 20px;
}

.x-icon {
	stroke: $black;
	width: 12px;
	height: 12px;
}