@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.logo {
	fill: $black;
	width: 25px;
	height: 25px;
}

.mobile {
	fill: $color-primary;
	width: 17px;
	height: 17px;
}

.cart {
	fill: $black;
	width: 24px;
	height: 24px;
}

.arrow-scroll {
	stroke: $color-primary;
	width: 14px;
	height: 28px;
}

.card-arrow {
	stroke: $white;
	width: 31px;
	height: 22px;
}

.card-quality {
	width: 61px;
	height: 61px;
	fill: $black;
}

.card-speed {
	width: 61px;
	height: 61px;
	fill: $black;
}

.card-responsibility {
	width: 61px;
	height: 61px;
	fill: $black;
}

.slider-arrow {
	@include animationEase;
	width: 28px;
	height: 28px;
	stroke: #858585;
}

.instagram {
	@include animationEase;
	width: 22px;
	height: 22px;
	fill: $black;
}

.facebook {
	@include animationEase;
	width: 21px;
	height: 21px;
	fill: $black;
}

.twitter {
	@include animationEase;
	width: 23px;
	height: 23px;
	fill: $black;
}

.mastercard {
	width: 28px;
	height: 22px;
}

.visa {
	width: 34px;
	height: 12px;
}

.pagination-arrow {
	stroke: $black;
	width: 10px;
	height: 20px;
}

.x {
	stroke: $black;
	width: 12px;
	height: 12px;
}

.rotate {
	transform: rotate(180deg);
}