@import "./vars.scss";
@import "./mixins.scss";

$puth: '';

.header {
    width: 100%;
    height: 640px;
    margin-bottom: rem(80);

    background: url("images/header_bg.jpg") $bg-param;

    &--coffee {
        height: 265px;
        margin-bottom: rem(70);

        background: url('images/ourcoffee_bg.jpg') $bg-param;

        .intro {
            margin-top: 6rem;
        }
    }

    &--for_your_pleasure {
        height: 260px;
        margin-bottom: rem(70);

        background: url('images/foryourpleasure_bg.jpg') $bg-param;

        .intro {
            margin-top: 6rem;
        }
    }
}

.header__inner {
    padding-top: 30px;
}