/* Colors */
$white: #fff;
$black: #000;
$bxshIntroLines: 0 2px 4px rgba($black, 25%);


/* Font */
$baseFontSize: 10;
$defaultFont: 'Merienda';
$defaultFontSize: rem(10);
$defaultFontWeight: 400;


/* Container */
$container: 1142;
$containerPadding: 30;


/* Background */
$bg-param: no-repeat center / cover;


/* Responsive */
$mobile: 576px;
$tablet: 767.98px;
$desktop-sm: 991.98px;