@import "../vars";
@import "../mixins";

.cart {
	@include adaptiveValue(margin-top, 94, 0, 1);

	&--empty {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0;

		.cart__title {
			margin-bottom: 1rem;
		}

		.cart__subtitle {
			margin-bottom: 4.7rem;

			@include adaptiveValue(font-size, 18, 14, 1);
			color: #777777;
			font-weight: 400;
			text-align: center;

			p {
				@include adaptiveValue(line-height, 25.2, 18, 1);
			}
		}

		.img {
			@include adaptiveValue(margin-bottom, 74, 45, 1)
		}
	}

	&__header {
		padding-bottom: 3rem;

		border-bottom: 1px solid #F4F4F4;
	}

	&__body {
		max-height: 42.5rem;

		overflow-y: auto;

		.text-group {
			max-width: 230px;

			@include smDesktop {
				text-align: center;
			}
		}
	}

	.cart__title-group {
		gap: 1.7rem;
	}

	&__title {
		@include adaptiveValue(font-size, 32, 25, 1);
		color: $black;
		font-weight: 700;
	}

	&__footer {
		margin-top: 4rem;

		.text-group {
			display: flex;
			justify-content: space-between;
			gap: .2rem;
			@include adaptiveValue(margin-bottom, 40, 30, 1);

			@include mobile {
				flex-direction: column;
				align-items: center;
			}
		}

		.cart__pizzas {
			@include adaptiveValue(font-size, 22, 18, 1);
			color: $black;
			font-weight: 700;

			&::before {
				content: "Всего пицц: ";

				font-weight: 400;
			}

			&::after {
				content: " шт.";
			}
		}

		.cart__total {
			@include adaptiveValue(font-size, 22, 18, 1);
			color: $orange;
			font-weight: 700;

			&::before {
				content: "Сумма заказа: ";

				color: $black;
				font-weight: 400;
			}

			&::after {
				content: " \20BD";

				color: $orange;
			}
		}

		.btn-group {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 1rem;

			@include tablet {
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.btn--pay {
					order: 1;
				}

				.btn--back {
					order: 2;
				}
			}

		}
	}


	.cart__icon {
		width: 29px;
		height: 29px;


		stroke: #3F3F3F;
	}

	.trash__icon {
		width: 18px;
		height: 18px;

		transition: all .1s linear;
	}

	.cart__clear {
		gap: 7px;
		cursor: pointer;

		font-size: 1.6rem;
		color: #B6B6B6;

		transition: all .1s linear;

		&:hover {
			color: $orange;

			.trash__icon {
				stroke: $orange;
			}
		}

		@include tablet {
			gap: 0;

			font-size: 0;
			color: transparent;

			.trash__icon {
				width: 29px;
				height: 29px;
			}
		}
	}
}

.cart__item {
	margin-top: 3rem;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;

	&:not(:last-child) {
		padding-bottom: 3rem;

		border-bottom: 1px solid #F4F4F4;
	}

	.row {
		justify-content: space-between;
		align-items: center;
		gap: 2rem 0;

		&>[class*=col]:first-child {
			gap: 1rem;
			flex-wrap: nowrap;

			@include smDesktop {
				justify-content: center;
			}

			@include mobile {
				flex-direction: column;
			}
		}

		@include mobile {
			justify-content: center;
		}

		.btn-group {
			gap: 0 1.2rem;
			justify-content: center;
			flex-wrap: nowrap;
		}
	}

	.cart__image {
		width: 80px;
		height: 80px;
	}

	.item-name {
		font-size: 2.2rem;
		color: $black;
		font-weight: 700;
	}

	.item-specs {
		font-size: 1.8rem;
		color: #8D8D8D;
		word-break: break-all;
	}

	.cart__item-count {
		// margin: 0 1.2rem;

		font-size: 2.2rem;
		color: $black;
		font-weight: 700;
	}

	.cart__item-price {
		font-size: 2.2rem;
		color: $black;
		font-weight: 700;
		word-break: break-all;

		&::after {
			content: " \20BD";
		}
	}
}